body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.upper-section{
    background-color: rgb(238, 236, 236);
}
.about-section{
    background-color: rgb(245, 235, 235);
}
.second-mid-sec{
    background-color: rgb(206, 202, 202);
    height: 600px;
    padding: 15px;
}
h1{
    font-weight: 800px;
}
h1.name-color{
    color: coral;
}
h2{
    font-weight: bold;
    color: coral;
}
h2.latest{
    color: grey;
    text-align: center;
}
p{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(70, 65, 65);
}
.half-width{
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.three-part{
    width: 25%;
    margin: 2%;
    padding: 2%;
    float: left;
    box-shadow: 10px 10px 10px 10px  darkgray;
    border-radius: 5px;
}
.three-part img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: 700px;
}
span{
    color: coral;
}
.last-section{
    height: 100px;
    padding-top: 100px; 
}   
.blue-back{
    background-image: url("images/Group_33094_1.png");
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    margin: auto;
    padding: 40px 60px 40px 60px;  
} 
.button-float{
    float: left;

}
#work{
    color: white;
    padding-left: 80px;
    margin-bottom: 20px;
    
}
#chat{
    margin-left: 500px;
    margin-top: 20px;
}
#about{
    margin-top: 100px;
}
#skills{
    text-align: center;
    color: rgb(2, 1, 1);
}
.progress{
    height: 30px;
    border-radius: 15px;
    width: 75%;
    background-color: rgb(224, 224, 238);
    margin-bottom: 30px;
}
.bar{
    height: 30px;
    border-radius: 15px;
    background-image: linear-gradient(45deg,violet, rgb(72, 72, 170));
}
.html{
    width: 75%;
}
.css{
    width: 40%;
}
.python{
    width: 30%;
}
.bonus-sec{
    background-color: rgb(102, 93, 93);
    height: 200px;
}


